body, html {
  margin: 0;
}

nav a {
  display: block;
}


footer {
  margin-top: 2em;
  padding: 1em;
}

footer,
footer a {
  background-color: darkgray;
  color: white;
  display: block;
}

footer a {
  text-decoration: none;
}

.cell {
  float: left;
  border: solid black;
  border-width: 0 1px 1px 0;
  width: 30px;
  height: 30px;
}
.cell.is1 {
  background: black;
}
.row {
  clear: left;
}
