<h1 id="title">About</h1>

<p>
  This is a legacy-retreat kinda example.
  Game of Life built in ember.js and now we want to use the time to extract the essence
  of the code and enable change, basically make the UI framework a plugin to our
  business logic, and not the other way around.
</p>

{{outlet}}
