<h2 id="title">Welcome to Ember</h2>

<nav>
  {{#link-to 'about'}}About page{{/link-to}}
  <h2>Presets</h2>
  {{#link-to 'preset' 'new'}}Create Preset{{/link-to}}
  {{#link-to 'preset' 'glider'}}Glider{{/link-to}}
</nav>
